@model Blog.Domain.Core.LoginModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <p>
            <label>Email</label><br />
            @Html.EditorFor(x => x.Email)
            @Html.ValidationMessageFor(x => x.Email)
        </p>
        <p>
            <label>Пароль</label><br />
            @Html.EditorFor(x => x.Password)
            @Html.ValidationMessageFor(x=>x.Password)
        </p>
        <p>@Html.ActionLink("Гость", "MainIndex", "Home")</p>
        <p><button type="submit">Войти</button></p>
    </div>
}