@model Blog.Domain.Core.Article
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <p>
        Введите название статьи: @Html.EditorFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </p>
    <p>
    <p>Введите текст статьи:</p> @Html.EditorFor(m => m.Text)
    @Html.ValidationMessageFor(m => m.Text)
    </p>
    <p><p>Выберите теги:</p> @Html.ListBox("tags", new MultiSelectList(new[] { "@admin_publication", "@new_article", "@article", "@admin" }))</p>
    <br /><input type="submit" value="Send" ) />
}