@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    @using (Html.BeginForm())
    {
        <div class="Columns">
            <div class="Main-body">
                <input type="hidden" value="@ViewBag.Id" name="id" />
                <input type="hidden" value="@ViewBag.Name" name="name" />
                <input type="hidden" value="@ViewBag.PublicationDate" name="publicationDate" />
                <input type="hidden" value="@ViewBag.Text" name="text" />
                <input type="hidden" value="@ViewBag.Tags" name="tags" />
                <h1>@ViewBag.Name</h1>
                <p>@ViewBag.PublicationDate</p>
                <p>@ViewBag.Text</p>
                <p>@ViewBag.Tags</p>
            </div>
            <div class="Right-side">
                <ul class="menu">
                    <li>@Html.ActionLink("Main", "Index", "Home")</li>
                    <li>@Html.ActionLink("Guest", "Index", "Guest")</li>
                    <li>@Html.ActionLink("Form", "Index", "QuestionForm")</li>
                </ul>
                <h3>Голосование за любимую книгу</h3>
                <p>Введите ваше имя:</p>
                <input class="RadioCheck" type="text" name="PersonName" value="">
                <br /><p>Какая ваша любимая книга из серии?</p>
                <input class="RadioCheck" type="radio" name="vote" value="Азазель" />
                <p>Азазель</p>
                <input class="RadioCheck" type="radio" name="vote" value="Смерть Ахиллеса" />
                <p>Смерть Ахиллеса</p>
                <input class="RadioCheck" type="radio" name="vote" value="Декоратор" />
                <p>Декоратор</p>
                <input type="submit" value="Отправить" checked="checked" />
            </div>
        </div>
    }
</body>
</html>