@using System.Web.Mvc.Html
@using Blog.Domain.Core
@model IEnumerable<Article>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="Columns">
    <div class="Main-body">
        @foreach (Article article in Model)
        {
            <h1>@article.Name</h1>
            <p>@article.PublicationDate</p>
            <p class="Text">@article.Text</p>
        }
    </div>
    <div class="Right-side">
        <ul class="menu">
            <li>@Html.ActionLink("Main", "MainPage", "Home")</li>
            <li>@Html.ActionLink("Guest", "Guest", "Home")</li>
            <li>@Html.ActionLink("Form", "QuestionForm", "Home")</li>
        </ul>
    </div>
</div>
</body>
</html>