<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() !== 0) {
                    $('#BackToTopButton').fadeIn();
                } else {
                    $('#BackToTopButton').fadeOut();
                }
            });
            $('#BackToTopButton').click(function () {
                $('body,html').animate({ scrollTop: 0 }, 700);
            });
        });
    </script>
</head>
<body>
    <div class="LogoDiv">
        <img class="Logo" src='http://didicgami.ru/blogfoto/fandorin.jpg'>
        <h1 class="MyBlog">Приключения Эраста Фандорина</h1>
    </div>
    @RenderBody()
</body>
</html>
<footer id="footer">
    <p class="Copyright">Cssauthor.com © 2018 All Rights Reserved</p>
    <div id="BackToTopButton"><img src="http://termatik.com/images/up.png" width="30" height="30" /></div>
</footer>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")